.retry-game-over
  .primary-panel.win
    .header-copy
      h1 Yowza!
      h2 You just owned space!
    .how-to
      h3 Your Time:
      p.description #{time}
      br/
      p.description.note That's a record!

    p.prompt What's your name?
    .input-block
      input(type="text", placeholder="your name?")
      a.get-famous(href="#") Get Famous!

    .share-content
      p.share-copy Care to share?
      span(class='st_facebook_hcount', displayText='Facebook', st_title="I Beat Zoom the Balloon in #{time} #zoomtheballoon", st_url="http://zoomtheballoon.com/")
      span(class='st_twitter_hcount', displayText='Tweet', st_title="I Beat Zoom the Balloon in #{time} #zoomtheballoon", st_url="http://zoomtheballoon.com/")
    img.moon(src="img/moon-flag-footer.png")
