.retry-game-over
  .primary-panel
    .header-copy
      h1 Oh no!
      h2 Maybe zoom wouldn't have liked the moon anyway.
    .how-to
      h3 Highest Altitude
      p.description #{miles}mi

    p.button-copy Want to give it another go?
    .retry(onClick="history.go(0)") Retry!

    .share-content
      p.share-copy Care to share your score?
      span(class='st_facebook_hcount', displayText='Facebook', st_title="I got #{miles}mi on zoom the balloon #zoomtheballoon", st_url="http://zoomtheballoon.com/")
      span(class='st_twitter_hcount', displayText='Tweet', st_title="I got #{miles}mi on zoom the balloon #zoomtheballoon", st_url="http://zoomtheballoon.com/")
    img.moon(src="img/moon-footer.png")
