.pre-game
  .primary-panel.start
    img.logo(src="img/balloon-cloud-header.png")
    .header-copy
      h1
        | Zoom
        span the balloon
      h2 has always dreamed </br> of the moon. Let's go!
    .how-to
      h3 How to Play
      p.description Make Zoom Grow with hot air <br> and fly faster. But be careful! <br>The clouds and stars along <br> your way can really hurt!

    p.subtitle tap to inflate + fly left / right
    img.keys(src="img/all-keys.png", width="224px")

    .download.start(href="#") Start!
  
  .overlay