!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title

    link(rel='stylesheet', href='css/master.css')
    link(href='http://fonts.googleapis.com/css?family=Asap:400,400italic,700italic', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
    script(type='text/javascript').
      window.NKO = window.NKO || { Models: {}, Views: {}, Game: { Scenes: [], Components: [] } };
  body
    != content

    //- add other scripts through require.js, not here
    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/lodash.min.js")
    script(src="js/vendor/backbone.min.js")
    script(src="js/templates.js")
    script(data-main="js/main", src="js/require.js")

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
