global-reset()

html
  color: #212120
  background-color: #318494
  background-image: url('../img/balloon-tiles.png');
  background-repeat: tile
  background-position: center top
  background-position: calc(50% + 3px) top
  font-family: 'Asap', 'helvetia', 'sans-serif'

.logo
  height: 213px;
  position: absolute;
  left: -100px;
  margin-bottom: -213px;
  top: 0;

.header-copy
  top:      15px
  position: relative

.primary-panel
  top:            0
  left:           50%
  size            262px 100%
  padding:        0 10px
  position:       absolute
  background:     #fffceb
  text-align:     center
  margin-left:    -131px
  border-left:    solid 5px #144b5a
  border-right:   solid 5px #144b5a

.back-panel
  top: 0
  left: 50%
  size: 262px 100%
  padding: 0 10px
  position: fixed
  background: #fffceb
  border-left: solid 5px #144b5a
  border-right: solid 5px #144b5a
  z-index: -1
  margin-left: -131px


.download, .like
  display: block
  font-size: 26px
  text-decoration: none
  font-style: italic
  background: #F4C538
  width: 90%
  margin: 0 auto
  border: solid 5px #8B784B
  border-bottom: solid 9px #8B784B
  color:        #212120
  border-radius: 8px
  margin-top: 40px
  padding: 9px 0
  box-sizing: border-box
  &:hover
    background: #F8DC88
  &:active
    border-bottom: solid 5px #8B784B
    margin-top: 44px
.download
  font-weight: 700

.like
  background: #ffffff
  border-color: #8A8A8A
  font-weight: 0
  font-style: italic
  font-size: 18px
  &:hover
    background: #ffffff
  &:active
    border-bottom: solid 5px #8A8A8A
    margin-top: 39px
  img
    margin-right: 12px
    position: relative
    top: 2px

.play
  color: #727273
  font-size: 18px
  font-weight: 0
  font-style: italic
  margin-top: 12px
  display: inline-block
  &:hover
    color: #231F20

.how-to
  margin-top: 75px

.description
  line-height:    24px
  margin-bottom:  25px

.download
  margin-top: 36px

.like
  margin-top: 35px
  cursor: default

.share-content
  position: absolute
  bottom: 30px
  width: 100%
  @media screen and (max-height: 640px)
    position: relative
    margin-top: 30px
    margin-left: 9px
    padding-bottom: 30px

h2
  font-style: italic;
  font-size: 16px;
  line-height: 20px;

h1 span
  color:          #212120
  display:        block
  font-size:      30px
  margin-top:     -5px;
  margin-bottom:  3px

h1, h3
  color:        #eb483c
  font-size:    60px
  font-style:   italic
  font-weight:  700

h3
  font-size:      26px
  margin-bottom:  10px

iframe
  width: 32%;
  position: relative;
  top: -50px;
  opacity: 0;

.second-row
  top: -52px;
