.end-game-display-area
  font-family: 'Asap', 'helvetia', 'sans-serif'

  &.ended
    position: absolute;
    z-index: 200;
    left: 0;
    width: 800px;

.side-panel
  width 200px
  height 600px
  float left
  font-style italic
  font-weight 700

  h3
    font-size 42px
    font-weight 700
    color #fff
    -webkit-text-stroke 2px rgb(27, 100, 118)
    -moz-text-stroke 2px rgb(27, 100, 118)
    text-stroke 2px rgb(27, 100, 118)
    margin-left 10px
    display inline

  p
    font-size 20px

  .name
    display inline-block
    margin-left 10px
    line-height 48px
    vertical-align top
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    width 145px

  .score
    margin-left 40px

  .overlays, .iframes
    position absolute
    top 0
    width 200px
    height 600px

  iframe, .overlay
    height 145px
    width 190px

  iframe
    &.one
      background: url("../img/game-thumb-1.jpg")
    &.two
      background: url("../img/game-thumb-2.jpg")
      top: 10px
    &.three
      background: url("../img/game-thumb-3.jpg")
      top: 8px;
    &.four
      background: url("../img/game-thumb-4.jpg")
      top: 14px;
    &.five
      background: url("../img/game-thumb-5.jpg")
    &.six
      background: url("../img/game-thumb-6.jpg")
      top: 8px;
    &.seven
      background: url("../img/game-thumb-7.jpg")
      top: 10px
    &.eight
      background: url("../img/game-thumb-8.jpg")
      top: 14px;

    background-repeat: no-repeat
    background-size: cover
    position: relative
    left: 5px
    top: 5px

  .overlay
    border-top solid 5px #104b5b
    border-left solid 5px #104b5b
    border-right solid 5px #104b5b

    &.last
      border-bottom solid 5px #104b5b
      height 140px

    &:hover
      opacity: .8
      background: #257a8b
      cursor pointer

.primary-panel
  float           left
  top:            0
  size            400px 100%
  padding:        0 10px
  position:       relative
  background:     #fffceb
  text-align:     center
  height: 600px
  box-sizing: border-box

  h1, h3
    color:        #eb483c
    font-size:    60px
    font-style:   italic
    font-weight:  700

  h2
    font-style: italic
    font-size: 19px;
    line-height: 25px
    width: 70%
    margin: 0 auto

  h1
    padding-top: 30px;

  h3
    margin-top: 20px
    font-size: 25px

  .description
    font-style: italic
    font-weight: bold
    font-size: 25px
    margin-top: 10px

  .subtitle
    font-size: 18px
    font-style: italic
    margin-bottom: 14px

  .button-copy
    margin: 20px 0

  .retry, .get-famous
    display: block
    font-size: 26px
    text-decoration: none
    font-style: italic
    background: #F4C538
    width: 90%
    margin: 0 auto
    border: solid 5px #8B784B
    border-bottom: solid 9px #8B784B
    color:        #212120
    border-radius: 8px
    padding: 9px 0
    box-sizing: border-box
    font-weight: 700
    &:hover
      background: #F8DC88
    &:active
      border-bottom: solid 5px #8B784B
      margin-top: 4px

  .retry
    display: inline-block
    cursor pointer

  .share-copy
    margin-bottom: 10px
    font-style: italic

  .share-content
    margin-top: 90px

  .moon
    position: absolute;
    bottom: 0;
    width: 490px;
    left: -62px;
    z-index 30

  .left-arrow
    width: 16px
    float: left
    padding-top: 21px
    padding-left: 38px

  .right-arrow
    width: 16px
    float: right
    padding-top: 21px
    padding-right: 38px
    display: inline-block

 .high-scores
    font-size: 18px
    font-weight: 700
    font-style: italic
    padding-top: 18px
    color: #7b6428
    display: inline-block

.primary-panel.win
  .share-content
    margin-top: 10px

  h2
    width: 90%
  h3
    display: inline-block
    margin-right: 10px

  .description
    display: inline-block

  .button-copy
    margin-bottom: 10px

  .note
    display: block
    font-size: 18px

  .prompt
    margin-top: 30px
    margin-bottom: 10px
    font-size: 18px


  .input-block
    margin-left: -110px
    margin-top: 10px
    margin-bottom: -30px

  input
    border: solid 5px #8A8A8A
    border-radius: 8px
    font-size: 18px
    font-style: italic
    padding: 8px 10px
    outline: none

  .get-famous
    width: 142px;
    position: relative;
    top: -54px;
    left: 150px;
    font-size: 20px;
    &:hover
      background: #F8DC88
    &:active
      border-bottom: solid 5px #8B784B
      margin-top: 4px

    // &:active
    //   border-bottom: solid 9px #8B784B
    //   margin-top: 0
    //   margin-bottom: 0

  .left-arrow
    width: 16px
    float: left
    padding-top: 21px
    padding-left: 38px

  .right-arrow
    width: 16px
    float: right
    padding-top: 21px
    padding-right: 38px
    display: inline-block

 .high-scores
    font-size: 18px
    font-weight: 700
    font-style: italic
    padding-top: 18px
    color: #7b6428
    display: inline-block

  .subtitle
    font-size: 18px
    font-style: italic
    margin-bottom: 14px

  .you-and-zoom
    padding-top: 8px
