global-reset()
@import "_pre_game"

.share-content
  display: none

.end-game-display-area
  @import "_game_over"

html
  font-family 'Asap', 'helvetica', 'sans-serif'

.game
  size 800 600
  position absolute !important
  top 0
  left 0
  z-index: -1

#hud
  z-index 100
  size 800 600
  position absolute
  top 0
  left 0
  color #fff
  font-weight 700
  font-style italic
  font-size 36px
  line-height 40px
  -webkit-text-stroke 3px rgb(27, 100, 118)
  -moz-text-stroke 3px rgb(27, 100, 118)
  text-stroke 3px rgb(27, 100, 118)

  .altitude
    .indicator
      position absolute
      top 15px
      left 10px
      size 25px 550px
      border-radius 10px
      background-color rgba(255, 255, 255, 0.5)

      .dot
        background-color red
        size 15px 15px
        border-radius 10px
        position absolute
        bottom 10px
        left 5px

    .mileage
      position absolute
      top 5px
      left 45px

  .time
    position absolute
    top 5px
    right 5px

  .hearts
    position absolute
    bottom 5px
    right 5px

    .heart
      size 44 40
      display table-cell

      &.full
        background url(../img/heart-full.png) no-repeat
        background-size cover

      &.empty
        background url(../img/heart-empty.png) no-repeat
        background-size cover
