global-reset()
@import "_pre_game"

.end-game-display-area
  @import "_game_over"

html
  font-family 'Asap', 'helvetica', 'sans-serif'

.game
  size 800 600
  position absolute !important
  top 0
  left 0
  z-index: -1

#hud
  z-index 100
  size 800 600
  position absolute
  top 0
  left 0
  color #fff
  font-weight 700
  font-style italic
  font-size 36px
  line-height 40px



  .altitude
    .indicator
      position absolute
      top 24px
      left 30px
      size 25px 540px
      border-radius 8px   
      border 5px solid #C0E5E8
      opacity .85
      background: linear-gradient(bottom, #59c6d9, 70% #257a8b, #104b5b)
      // rgba(89, 198, 217, 0.5), 70% rgba(37, 122, 139, 0.5), rgba(16, 75, 91, 0.5)
      // background-color #257A8B
    


      .dot
        background-color #EE4735
        size 15px 15px
        border-radius 10px
        position absolute
        bottom 10px
        left 5px
        opacity 1

    .mileage
      position absolute
      top 22px
      left 80px
      z-index: 2

    .stroke
      z-index: 1
      -webkit-text-stroke 10px rgb(27, 100, 118)
      -moz-text-stroke 10px rgb(27, 100, 118)
      text-stroke 10px rgb(27, 100, 118)

  .time
    position absolute
    top 22px
    right 30px
    z-index: 2

  .stroke
    -webkit-text-stroke 10px rgb(27, 100, 118)
    -moz-text-stroke 10px rgb(27, 100, 118)
    text-stroke 10px rgb(27, 100, 118)
    z-index: 1

  .hearts
    position absolute
    bottom 30px
    right 30px

    .heart
      size 44 40
      display table-cell

      &.full
        background url(../img/heart-full.png) no-repeat
        background-size cover

      &.empty
        background url(../img/heart-empty.png) no-repeat
        background-size cover
