.primary-panel
  img.logo(src="img/balloon-cloud-header.png")
  .header-copy
    h1
      | Zoom
      span the balloon
    h2 has always dreamed </br> of the moon. Let's go
  .how-to
    h3 Play the Game
    p.description Make Zoom Grow with hot air and fly faster. But be careful; too much air make him pop and too little air makes him fall.

  a.download(href="#") Download!
  a.like(href="#")
    img(src="img/like-icon.png", width="17px")
    |Like Zoom? Vote!
  .share-content
    span(class='st_facebook_hcount', displayText='Facebook')
    span(class='st_twitter_hcount', displayText='Tweet')

