!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Zoom The Balloon NKO 2014')
    meta(name='author', content= "")

    title= title
    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
    script(type="text/javascript").
        stLight.options({publisher: "9413716e-5ad2-4c94-a9a4-de01a2e166f0", doNotHash: false, doNotCopy: false, hashAddressBar: false})
    link(href='http://fonts.googleapis.com/css?family=Asap:400,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/master.css')
  body
    != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
